*{
    margin: 0px;
}
.fon {
    background-image: url(img/stefania-concert.png);
    background-size: cover;
    height:900px;
    background-color: rgb(255, 255, 255);
    border: 0px;
}
.header__block {
    
}
.foto-kalush{
    height: 60px;
}
.header__block-text {
position: absolute;
width: 711px;
height: 100px;
left: 79px;
top: 140px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #8E8E8E;
margin-left: 10px;

}
.header__block-concert1{
    position: absolute;
    width: 123px;
    height: 27px;
    left: 1320px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #D5D5D5;
}
.header__block-concert2{
    position: absolute;
    width: 123px;
    height: 27px;
    left: 1200px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #D5D5D5;
}
.section__block2 {
    background-image: url(img/kalush-fon.png);
    background-size: cover;
    height:900px;
    background-color: rgb(255, 255, 255);
    border: 0px; 
}
.section__block2-kontent{
    justify-content: center;
    width: 20px;
    color: aliceblue;
    display: flex;
    margin-left: 500px;
    margin-top: ;
}
.section__block2-landing-kalush {
  width: 1080px;
  height: 520px;
  margin-top: 100px;
  margin-left: 400px;
}
.section__block2-text-kalush {
height: 73px;
font-family: 'Myanmar Khyay';
font-size: 150px;
line-height: 62px;
color: #FFFFFF;
margin-left: 570px;
margin-bottom:0px;
margin-top: -360px;
}
.shop-photo{
    margin-left: 630px;
    margin-bottom:200px;
   margin-top: -600px;
    font-size: 150px;
    line-height: 62px;
    height: 200px;
}
.shop-content {
    color: #FFFFFF;
    margin-top: -420px;
    margin-left: 710px;
}
